@import url(reset.css);
@import url(../fonts/font.css);
@import url(../fonts/fontawesome-free-5.15.3-web);


.Backgroud {
    background: linear-gradient(to bottom, #a8ff78, #78ffd6);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;

}

.Book_block {
    width: 30%;
    height: 40%;
    margin: 10%;
    border: 2px solid black;
    margin-top: 15vh;
    border-radius: 20px;
    display: inline-block;
    justify-content: space-between;
    vertical-align: center;

}

.BB_pic {
    padding: 5% 1% 1% 2%;
    width: 45%;
    height: 90%;
    border-radius: 20px;
    display: inline-block;
    justify-content: center;
    vertical-align: auto;
}
.Image {
    height: 100%;
    width: 100%;
    border-radius: 7%;
    position: relative;
}

.BB_Text {
    padding: 3% 1% 1% 1%;
    width: 45%;
    height: 90%;
    display: inline-block;
    justify-content: space-between;
    color: darkblue;
    font-family: "Bebas Neue";
    text-align: center;
}
.Topic{
    font-size: 46px;
    font-family: "Bebas Neue";
}
.Top {
    width: 100vw;
    height: 10vh;
    position: fixed;
    background-color: rgb(241, 220, 220);
    text-align: center;
}

.BigTop {
    width: 60vw;
    height: 10vh;
    background-color: flora`lwhite;
    position: fixed;
    text-align: start;
    font-family: "Bebas Neue";
    font-size: 8vh;
    display: flex;
    align-items: center;
    padding-left: 2vw;
}

.SmallTop1 {
    width: 40vw;
    position: fixed;
    height: 10vh;
    margin-left: 60vw;
}

.SmallTop {
    width: 10vw;
    height: 10vh;
    background-color: floralwhite;
    display: inline-block;
    margin-left: -4px;
    text-align: center;
    font-family: "Bebas Neue";
    font-size: 4vh;
    padding-top: 3vh;
}

.link {
    text-decoration: none;
    color: #1e130c;
}

.SmallTop:hover {
    background: linear-gradient(to bottom, #78ffd6, #a8ff78);
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.5s;
    transition-property: transform, background;
}

.Top2 {
    text-align: start;
    font-family: "Bebas Neue";
    font-size: 8vh;
    align-items: center;
    padding-left: 2vw;
    display: flex;
}


