@import url(reset.css);
@import url(../fonts/font.css);


.Back{
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  background: linear-gradient(to bottom, #a8ff78, #78ffd6) center center fixed;
 justify-content: center;
  align-items: center;
  background-size: contain;
}
.Form
{ width: 30%;
  height: 30%;
  color: darkblue;
  font-family: "Bebas Neue";
  font-size: larger;

}