{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>shop/author/del/</title>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/index_author.css'%}" type="text/css">

  </head>

    <div class="Paradice">
        <div class="Heigh"><h1>Use this page for remove author.</h1></div>
        <div class="Height A"><p>a</p></div>
        <div class="Height B"><p>u</p></div>
        <div class="Height C"><p>t</p></div>
        <div class="Height D"><p>h</p></div>
        <div class="Height E"><p>o</p></div>
        <div class="Height A"><p>r</p></div>
        <div class="Height F"><p>/del</p></div>

      </div>
    </div>
  </div>

  <body></body>
</html>
