{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>shop/book/edite/</title>
    <link rel="stylesheet" href="{%static 'css/index.css' %}" type="text/css">
  </head>
    <div class="Top"><p id="tex">Book name</p></div>
    <div class="Left"></div>
    <div class="MiddleBig">
      <div class="Text"><p class="ABOUT"> About Book </p>
        <hr class="hr">
        Use this page for edite book. 
      </div>
    
      </div>




    </div>
    <div class="Right"></div>
    
    

 
  </div>
  <body></body>
</html>
