{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="{%static 'css/index_shop_book.css'%}" type="text/css">
      <link rel="stylesheet" href="{%static 'css/fonts/fontawesome-free-5.15.3-web/css/all.css' %}" type="text/css">
    <title>shop/book_shop/edite</title>

  </head>
  <body>
    <div class="Backgroud"></div>
    <div class="Top">
        <div class="BigTop"><p> Use this page for edite your's book shop.</p></div>
      <div class="SmallTop1">
        <div class="SmallTop"><a class="link" href=""> <i class="fas fa-archive"></i>  Books</a></div>
        <div class="SmallTop"><a class="link" href=""> <i class="fas fa-arrow-circle-down"></i>  Author</a></div>
        <div class="SmallTop"><a class="link" href=""><i class="fas fa-user-tie"></i>  Genre</a></div>
        <div class="SmallTop"><a class="link" href=""><i class="fas fa-address-card"></i>  Your box</a></div>
      </div>
    </div>
  </body>
</html>
