{% extends 'base.html' %}

{% block content %}

{% for genre in object_list %}
        <div class="UL1">
            <ul>

                <li type="disc" class="Title">
                    <a style="color: darkblue" class="link_undecor" href="show/{{genre}}">{{ genre }} </a></li>

                    </ul>
        </div>
    {% endfor %}
{% endblock content %}

{% block bottom %}
    <div class="H_Bigbox">{{ title.capitalize }} MENU</div>
    <div class="H_Bigbox"><a href="http://127.0.0.1:8000/shop/genre/add" class="link_undecor">CREATE</a></div>
    <div class="H_Bigbox"><a class=link_undecor">EDITE</a></div>
    <div class="H_Bigbox"><a class="link_undecor">REMOVE</a></div>"
{% endblock bottom %}

