{% extends 'base.html' %}
{% block content %}
{% for book in object %}
    <div class="M_box_show">
        <div class="M_box_pic_show"><img class="Img" src="{{ book.pic.url}}"></div>
        <div class="M_box_text_show">
            <div class="MB_text_header"><a style="color: darkred" class="link_undecor"
                                           href="http://127.0.0.1:8000/shop/{{book.genre }}"> {{book.genre }}</a>
            </div>
            <h1 class="Title">{{ book.book_name }} </h1>
            <h2 class="Small_title">Author: {{book.author.first_name }} {{book.author.last_name }}
                <br>
                Year of issue: {{book.year_of_issue.year }}
                <br>
                Book language: {{book.book_language.capitalize }}
                <br>
                ISBN: {{book.isbn }}
                <br>
            </h2>

        </div>
    </div>
{% endfor %}
{% endblock content %}
{% block bottom %}
    <div class="H_Bigbox">{{ title2 }} MENU</div>
    <div class="H_Bigbox"><a href="http://127.0.0.1:8000/shop/genre/add/" class="link_undecor">CREATE</a></div>
    <div class="H_Bigbox"><a href="http://127.0.0.1:8000/shop/genre/edite/{{ object.book_id }}"
                             class="link_undecor">EDITE </a></div>
    <div class="H_Bigbox"><a href="http://127.0.0.1:8000/shop/genre/delete/{{ object.book_id }}" class="link_undecor">REMOVE </a></div>

{% endblock bottom %}
