{% extends 'base.html' %}

{% block content %}
  {% for object in object_list %}
            {% if object.booked > filter or object.sale == filter%}

                    <div class="M_box">
                        <div class="M_box_pic"><img class="Img" src="{{ object.book.pic.url }}"></div>
                        <div class="M_box_text">
                            <div class="MB_text_header">{{ object.book.genre}}</div>
                            <h1 class="Title"><a style="color: darkblue" class="link_undecor" href="{{ object.get_absolut_url}}" >{{ object.book.book_name }} </a> </h1>
                            <h2 class="Small_title">{{ object.book.author.first_name}} {{ object.book.author.last_name}}
                            <br>
                                Price: {{ object.price }} {{ object.currency }}
                            <br>
                                Quantity: {{ object.quantity }}
                                <br>
                            <a class="link_undecor" href="{{ object.url }}">Link for a book </a>
                            </h2>
                        </div>
                    </div>

            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}

{% block bottom %}
{#    <div class="H_Bigbox">{{ title.capitalize }} MENU</div>#}
{#    <div class="H_Bigbox"><a href="http://127.0.0.1:8000/shop/author/add/" class="link_undecor">CREATE</a></div>#}
{% endblock bottom %}









{% load static %}
<!DOCTYPE html>
<head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
    <link rel="stylesheet" href='{% static 'fonts/fontawesome-free-5.15.3-web/css/all.css' %}'>
    <title>{{ title.capitalize }}</title>
</head>
<body>
<div class="Background">
    <div class="Header">
        <div class="H_Bigbox">{{ title }}</div>
        <div class="H_Smalbox">
            <div class="HS_box"><img src="../static/img/author.png"><a href="http://127.0.0.1:8000/shop/author/" class="link_undecor">Author</a></div>
            <div class="HS_box"><img src="../static/img/book.png"><a href="http://127.0.0.1:8000/shop/books/" class="link_undecor">Books</a></div>
            <div class="HS_box"><img src="../static/img/genre.png"><a href="http://127.0.0.1:8000/shop/genre/" class="link_undecor">Genre</a></div>
            <div class="HS_box" style="background-color: #a8ff78"><img src="../static/img/sale.png"><a href="http://127.0.0.1:8000/shop/sale/" class="link_undecor">Sale</a></div>
            <div class="HS_box"><img src="../static/img/box.png"><a class="link_undecor">My box</a></div>
        </div>
    </div>
    <div class="Main">

</div>
</body>
</html>