{% extends 'base.html' %}
{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %}  class={{ "message.tags" }}
                {% endif %}> {{ message|safe }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="M_box_show">
        <div class="M_box_pic_show"><img class="Img" src="{{ object.book.pic.url }}"></div>
        <div class="M_box_text_show">
            <div class="MB_text_header"><a style="color: darkred" class="link_undecor"
                                           href="http://127.0.0.1:8000/shop/{{ object.book.genre }}"> {{ object.book.genre }}</a>
            </div>
            <h1 class="Title">{{ object.book.book_name }} </h1>
            <h2 class="Small_title">Author: {{ object.book.author.first_name }} {{ object.book.author.last_name }}
                <br>
                Price: {{ object.price }} {{ object.currency }}
                <br>
                Year of issue: {{ object.book.year_of_issue.year }}
                <br>
                Book language: {{ object.book.book_language.capitalize }}
                <br>
                ISBN: {{ object.book.isbn }}
                <br>
                Quantity: {{ object.quantity }}
                <br>

                <a class="link_undecor" href="{{ object.url }}">Description </a>
            </h2>

        </div>
    </div>
    </div>

{% endblock content %}
{% block bottom %}
    <div class="H_Bigbox">{{ title2 }} MENU</div>
    <div class="H_Bigbox"><a href="http://127.0.0.1:8000/shop/add/" class="link_undecor">CREATE</a></div>
    <div class="H_Bigbox"><a href="http://127.0.0.1:8000/shop/edite/{{ object.book_id }}"
                             class="link_undecor">EDITE </a></div>
    <div class="H_Bigbox"><a class="link_undecor">REMOVE </a></div>

{% endblock bottom %}
